.note{
    border-radius: 5px;
    border: 1px var(--secondaryColor) solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 160px;
    padding: 5px;
    cursor: pointer;
    &.pinned{
        border-color: var(--pinnedBorderColor);
    }
    .note-topbar{
        cursor: inherit;
        background: inherit;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input{
            background: inherit;
            width: 90%;
            border: none;
            outline: none;
            cursor: inherit;
            overflow: none;
          }
        img{
            cursor: inherit;
            background: inherit;
            height: 15px;
            width: 20px;
            margin-top: 5px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .note-content{
        width: 100%;
        height: 90%;
        background: inherit;
        margin: 5px 0;
        cursor: inherit;
        textarea{
            
            width: 100%;
            background: inherit;
            height: 100%;
            resize: none;
            border: none;
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            cursor: inherit;

            &:focus{
                border: none;
            }
        }
    }
    .note-bottombar{
        width: 100%;
        background: inherit;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: inherit;

        .options{
            background: inherit;
            cursor: inherit;

            .note-date{
                cursor: inherit;
                background: inherit;
                font-size: 10px;
                font-weight: normal;
                border: none;
                outline: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                resize: none;
                height: 22px;
                overflow:auto;
            }

            img{
            background: inherit;
            height: 15px;
            width: 20px;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
            
        }
        }
        .buttons{
            background: inherit;
            button{
                background: inherit;
                height: 100%;
                width: 60px;
                cursor: pointer;
                border-radius: 10px;
                padding: 3px;
                text-align: center;
                border: none;
                transition: all 0.3s ease 0s;
                font-weight: bold;
                margin: 0 5px;

                &:hover{
                    transform: scale(1.1);
                    background-color: var(--secondaryColor);
                }
                &:active{

                    background-color: lightgray;
                }
            }
        }
              
    }
    transition: all 0.2s ease-in;
    &:hover{
        transform: scale(1.05);
    }
   
}